In [2]:
import pandas as pd

In [4]:
df=pd.read_csv("data/demo_data/metric/metric.csv")

In [7]:
from sklearn.ensemble import IsolationForest
#to_model_column='value'
clf=IsolationForest(n_estimators=10, max_samples='auto', contamination=float(.04), \
                        max_features=1.0, bootstrap=False, n_jobs=-1, random_state=42, verbose=0,behaviour='new')
clf.fit(df[['value']])
df['scores']=clf.decision_function(df[['value']])
df['anomaly']=clf.predict(df[['value']])
df.head()
df.loc[df['anomaly'] == 1,'anomaly'] = 0
df.loc[df['anomaly'] == -1,'anomaly'] = 1
df

/usr/local/lib/python3.7/site-packages/sklearn/ensemble/_iforest.py:248: FutureWarning: 'behaviour' is deprecated in 0.22 and will be removed in 0.24. You should not pass or set this parameter.
  FutureWarning

                timestamp   value    scores  anomaly
0     2014-02-14 14:27:00  51.846  0.012382        0
1     2014-02-14 14:32:00  44.508  0.130259        0
2     2014-02-14 14:37:00  41.244  0.076729        0
3     2014-02-14 14:42:00  48.568  0.048584        0
4     2014-02-14 14:47:00  46.714  0.116886        0
...                   ...     ...       ...      ...
4027  2014-02-28 14:02:00  38.474  0.142174        0
4028  2014-02-28 14:07:00  40.352  0.107322        0
4029  2014-02-28 14:12:00  37.912  0.113891        0
4030  2014-02-28 14:17:00  38.458  0.142174        0
4031  2014-02-28 14:22:00  37.718  0.070254        0

[4032 rows x 4 columns]

In [9]:
df[df["anomaly"]==1]

                timestamp   value    scores  anomaly
8     2014-02-14 15:07:00  53.404 -0.079115        1
24    2014-02-14 16:27:00  52.586 -0.015763        1
27    2014-02-14 16:42:00  50.774 -0.002257        1
30    2014-02-14 16:57:00  50.718 -0.002257        1
35    2014-02-14 17:22:00  52.606 -0.023978        1
...                   ...     ...       ...      ...
3892  2014-02-28 02:47:00  36.526 -0.065726        1
3947  2014-02-28 07:22:00  36.792 -0.012150        1
3973  2014-02-28 09:32:00  36.596 -0.055527        1
4006  2014-02-28 12:17:00  36.568 -0.065726        1
4020  2014-02-28 13:27:00  36.714 -0.032773        1

[162 rows x 4 columns]